@model CarRental.MVC.Models.RentalIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary btn-block mt-5">Create new member +</a>
</p>

<input class="form-control searchInput" type="text" placeholder="Search..">

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Rented</th>
            <th>Returned</th>
            <th>Days Rented</th>
            <th>Expected Return</th>
        </tr>
    </thead>
    <tbody class="searchTable">
        @foreach (var item in Model.Rentals)
        {
            var cssClass = "";

            if (DateTime.Now > item.ExpectedReturn)
            {
                cssClass = "class=\"red-row\"";
            }
        <tr @Html.Raw(cssClass)>
            <td>
                @Html.DisplayFor(modelItem => item.MemberReference.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberReference.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarReference.CarManufacturer.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarReference.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Returned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedReturn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-dark px-1"><i class="fas fa-pen"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info px-1"><i class="fas fa-file-alt"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger px-1"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
